server:
  port: 7001

#Eureka配置
eureka:
  instance:
    hostname: localhost #服务端的实例名称
  client:
    register-with-eureka: false # 表示是否向eureka注册中心注册自己
    fetch-registry: false #如果为false 表示自己注册中心
    service-url: #监控页面
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/